@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@font-face {
  font-family: 'Bebas Neue';
  src: url(fonts/BebasNeue-Regular.eot);
  src: url(fonts/BebasNeue-Regular.eot?#iefix) format("embedded-opentype"), url(fonts/BebasNeue-Regular.woff2) format("woff2"), url(fonts/BebasNeue-Regular.woff) format("woff"), url(fonts/BebasNeue-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

[data-simplebar]{position:relative;flex-direction:column;flex-wrap:wrap;justify-content:flex-start;align-content:flex-start;align-items:flex-start;width:inherit;height:inherit;max-width:inherit;max-height:inherit}.simplebar-wrapper{overflow:hidden;width:inherit;height:inherit;max-width:inherit;max-height:inherit}.simplebar-mask{direction:inherit;position:absolute;overflow:hidden;padding:0;margin:0;left:0;top:0;bottom:0;right:0;width:auto!important;height:auto!important;z-index:0}.simplebar-offset{direction:inherit!important;box-sizing:inherit!important;resize:none!important;position:absolute;top:0;left:0;bottom:0;right:0;padding:0;margin:0;-webkit-overflow-scrolling:touch}.simplebar-content{direction:inherit;box-sizing:border-box!important;position:relative;display:block;height:100%;width:auto;visibility:visible;overflow:scroll;max-width:100%;max-height:100%}.simplebar-placeholder{max-height:100%;max-width:100%;width:100%;pointer-events:none}.simplebar-height-auto-observer-wrapper{box-sizing:inherit!important;height:100%;width:inherit;max-width:1px;position:relative;float:left;max-height:1px;overflow:hidden;z-index:-1;padding:0;margin:0;pointer-events:none;flex-grow:inherit;flex-shrink:0;flex-basis:0}.simplebar-height-auto-observer{box-sizing:inherit;display:block;opacity:0;position:absolute;top:0;left:0;height:1000%;width:1000%;min-height:1px;min-width:1px;overflow:hidden;pointer-events:none;z-index:-1}.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;pointer-events:none}[data-simplebar].simplebar-dragging .simplebar-track{pointer-events:all}.simplebar-scrollbar{position:absolute;right:2px;width:7px;min-height:10px}.simplebar-scrollbar:before{position:absolute;content:"";background:#000;border-radius:7px;left:0;right:0;opacity:0;transition:opacity .2s linear}.simplebar-track .simplebar-scrollbar.simplebar-visible:before{opacity:.5;transition:opacity 0s linear}.simplebar-track.simplebar-vertical{top:0;width:11px}.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{top:2px;bottom:2px}.simplebar-track.simplebar-horizontal{left:0;height:11px}.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px}.simplebar-track.simplebar-horizontal .simplebar-scrollbar{right:auto;left:0;top:2px;height:7px;min-height:0;min-width:10px;width:auto}[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical{right:auto;left:0}.hs-dummy-scrollbar-size{direction:rtl;position:fixed;opacity:0;visibility:hidden;height:500px;width:500px;overflow-y:hidden;overflow-x:scroll}

.header {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header h1 {
    text-align: left;
    font-size: 36px;
    padding-top: 2px;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 36px;
    font-family: "Bebas Neue"; }

.spacer {
  height: 200px; }

.scrollContainer {
  overflow: auto; }

nav {
  display: flex;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom right, #201f1f, #161616);
  justify-content: center;
  box-shadow: #000000 0 0 5px 0;
  z-index: 1; }
  nav a {
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: inherit;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.3s ease-in-out; }
    nav a:hover {
      background-color: #ffffff1c; }
    nav a:visited {
      color: inherit; }
    nav a svg,
    nav a span {
      margin-left: 1px;
      margin-right: 1px;
      vertical-align: middle; }
    nav a.active {
      color: #e71616; }
    @media screen and (max-width: 500px) {
      nav a .text {
        display: none; } }

.chat {
  width: 50%;
  max-width: 550px;
  min-width: 350px;
  padding: 30px;
  position: fixed;
  bottom: 0; }
  .chat .message {
    height: 0;
    opacity: 0;
    overflow: hidden; }
  .chat .text {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    padding: 10px;
    color: #222222;
    margin: 10px; }
    .chat .text:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 10px 10px;
      border-color: transparent transparent #ffffff transparent; }
  .chat a {
    font-weight: bold;
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: #DDDDDD;
    border-color: #EEEEEE;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid; }

.spacer {
  height: 500px; }

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  margin: 0 auto; }
  #background #circuit-board {
    position: absolute;
    margin: auto;
    display: block;
    bottom: 0px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0); }

#projects {
  opacity: 0;
  position: relative;
  display: flex;
  max-width: 800px;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: -25%;
  width: 100%; }
  #projects #timeline {
    width: 10px;
    background-color: #000000;
    order: 2; }
  #projects .left {
    order: 1; }
    #projects .left .inner .title:before {
      right: -10px;
      border-width: 35px 0 35px 10px;
      border-color: transparent transparent transparent #7c0a04; }
  #projects .right {
    order: 3; }
    #projects .right .inner .title:before {
      left: -10px;
      border-width: 35px 10px 35px 0;
      border-color: transparent #7c0a04 transparent transparent; }
  #projects .right,
  #projects .left {
    flex: 1;
    position: relative; }
  #projects .project {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%; }
    #projects .project .inner {
      flex: 1;
      margin: 1px 20px;
      display: flex;
      flex-direction: column; }
      #projects .project .inner .title {
        color: #EEEEEE;
        padding: 10px;
        border-radius: 2px;
        background-color: #7c0a04;
        position: relative;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center; }
        #projects .project .inner .title:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-radius: 2px; }
      #projects .project .inner .extra {
        flex: 1;
        padding: 10px;
        background-color: #d90b0017;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 14px;
        color: #BBBBBB; }
        #projects .project .inner .extra .description {
          margin-bottom: 5px; }
        #projects .project .inner .extra ul {
          margin-bottom: 5px; }
        #projects .project .inner .extra a {
          display: block;
          font-size: 12px; }
          #projects .project .inner .extra a:hover {
            color: #AAAAAA; }

#more {
  text-align: center;
  margin-top: 50px; }

.project-message {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  max-width: 550px;
  width: 100%;
  color: #222222;
  position: relative;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  left: 0;
  right: 0;
  border-bottom-left-radius: 0; }
  .project-message a {
    font-weight: bold;
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: #DDDDDD;
    border-color: #EEEEEE;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid; }
  .project-message:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #ffffff transparent; }

#contact {
  max-width: 300px;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%; }
  #contact .card {
    padding: 20px;
    flex-direction: row;
    background-color: #EEEEEE;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
    color: #222222;
    position: relative;
    font-weight: 16px;
    border-bottom-left-radius: 0;
    text-align: center; }
    #contact .card .name {
      vertical-align: middle;
      font-weight: bold; }
    #contact .card .text {
      margin: 10px 0; }
    #contact .card svg {
      vertical-align: middle; }
    #contact .card:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 10px 10px;
      border-color: transparent transparent #ffffff transparent; }

html,
body {
  color: #dddddd;
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro";
  font-size: 20px;
  overflow: hidden;
  background-image: linear-gradient(#0e0d0d 33%, #131212 67%); }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-backface-visibility: hidden; }

.fill {
  width: 100%;
  height: 100%; }

.hide {
  display: none; }

.page .content {
  position: relative; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 3px; }
  ul li:before {
    display: inline-block;
    content: '-';
    margin-right: 3px; }


/*# sourceMappingURL=bundle.css.map*/