@import '../../variables';

#navigation {
    display: flex;
    background-image: linear-gradient(to bottom right, $header-gradient-start, $header-gradient-end);
    box-shadow: #000000 0 0 5px 0;
    z-index: 1;
    height: 50px;

    .left,
    .right {
        width: 70px;

        button {
            width: 70px;
            border: none;
            background-color: transparent;
        }
    }

    a,
    #languageSelection>button {
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: inherit;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $header-hover-color;
        }

        &:visited {
            color: inherit;
        }

        svg,
        span {
            margin-left: 1px;
            margin-right: 1px;
            vertical-align: middle;
        }

        &.active {
            color: $accent-color;
        }

        @media screen and (max-width: 700px) {
            padding-left: 10px;
            padding-right: 10px;

            .text {
                display: none;
            }
        }
    }

    nav {
        display: flex;
        flex: 1;
        height: 50px;

        justify-content: center;
    }

    #languageSelection {
        position: relative;

        .selector {
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 1;
            width: 120px;

            .language {
                display: block;
                height: 40px;
                width: 100%;
                text-align: center;
                line-height: 40px;
                color: inherit;
                text-decoration: none;
                padding-left: 15px;
                padding-right: 15px;
                transition: background-color 0.3s ease-in-out;
                background-color: $header-gradient-end;
                cursor: pointer;

                &.active {
                    color: $accent-color;
                }
            }
        }
    }
}