#resume {
    margin-top: -33.333%;

    #timeline {
        opacity: 0;
        position: relative;
        display: flex;
        max-width: 800px;
        margin: auto;
        left: 0;
        right: 0;
        width: 100%;

        #yearline {

            order: 2;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .year {
                background-color: rgba(125, 125, 125, 0.25);
                padding: 10px;
                border-bottom: 1px solid #7c0a04;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .projectList.left {
            .right {
                display: none;
            }
        }



        .projectList.left {
            order: 1;

            .inner {
                &:before {
                    right: -10px;
                    border-width: 35px 0 35px 10px;
                    border-color: transparent transparent transparent #7c0a04;
                }
            }
        }

        .projectList.right {
            order: 3;

            .inner {
                &:before {
                    left: -10px;
                    border-width: 35px 10px 35px 0;
                    border-color: transparent #7c0a04 transparent transparent;
                }
            }
        }

        .projectList.right,
        .projectList.left {
            flex: 1;
            position: relative;
        }

        .project {
            position: absolute;
            display: flex;
            flex-direction: row;
            width: 100%;

            .inner {
                flex: 1;
                margin: 1px 20px;
                display: flex;
                flex-direction: column;
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                }

                .title {
                    color: #EEEEEE;
                    padding: 10px;
                    border-radius: 2px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    background-color: #7c0a04;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .extra {
                    flex: 1;
                    background-color: #d90b0040;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    font-size: 14px;
                    color: #BBBBBB;
                    overflow: hidden;

                    .extra-inner {
                        padding: 10px;
                    }

                    .description {
                        margin-bottom: 7px;
                    }

                    ul {
                        margin-bottom: 7px;
                    }

                    a {
                        display: block;
                        font-size: 12px;

                        &:hover {
                            color: #AAAAAA;
                        }
                    }
                }
            }
        }
    }

    #more {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 200px;
    }

    .spacer {
        height: 100px;
    }


    @media screen and (max-width: 700px) {
        #timeline {
            .projectList.left {
                .right {
                    display: flex;
                }
            }

            .projectList.right {
                display: none;
            }

            .project {
                max-height: 1000px;
                transition: max-height 0.5s ease-in-out;
                overflow: hidden;

                .inner {
                    .title {
                        transition: background-color 0.5s ease-in-out;
                    }

                    .extra {
                        transition: background-color 0.5s ease-in-out;
                        background-color: #7c0a04AA;
                        border-bottom-right-radius: 0;

                        .extra-inner {
                            height: 100%;
                            padding: 20px;
                            padding-top: 0;
                        }

                        .extra-mobile-background {
                            height: 100%;
                            padding: 10px;
                            background-color: #00000030;
                        }
                    }

                    &:before {
                        transition: all 0.5s ease-in-out;
                    }

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        transition: all 0.5s ease-in-out;
                        right: -10px;
                        border-width: 0 10px 0 0;
                        border-color: transparent transparent #7c0a04 transparent;
                    }
                }


                &:not(.active) {
                    max-height: 72px;

                    .inner {
                        &:before {
                            border-color: transparent transparent transparent #7c0a04AA;
                        }

                        .title {
                            background-color: #7c0a04AA;
                            border-bottom-left-radius: 2px;
                            border-bottom-right-radius: 2px;
                        }
                    }

                }

                &.active {
                    z-index: 5;

                    .inner {
                        .title {
                            border-top-right-radius: 0;
                        }

                        .extra {
                            background-color: #7c0a04;
                        }

                        &:before {
                            right: -20px;
                            border-width: 35px 20px 0 0;
                            border-color: #7c0a04 transparent transparent transparent;
                        }

                        &:after {
                            right: -20px;
                            border-width: 0 20px 35px 0;
                            border-color: transparent transparent #7c0a04 transparent;
                        }

                    }
                }

                &.closing {
                    z-index: 3;
                }
            }

            #more {
                margin-bottom: 300px;
            }

            .spacer {
                height: 50px;
            }
        }

    }
}