#projects {
    opacity: 0;
    position: relative;
    display: flex;
    max-width: 800px;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: -25%;
    width: 100%;

    #timeline {
        width: 10px;
        background-color: #000000;
        order: 2;
    }

    .left {
        order: 1;

        .inner {
            .title {
                &:before {
                    right: -10px;
                    border-width: 35px 0 35px 10px;
                    border-color: transparent transparent transparent #7c0a04;
                }
            }
        }
    }

    .right {
        order: 3;

        .inner {
            .title {
                &:before {
                    left: -10px;
                    border-width: 35px 10px 35px 0;
                    border-color: transparent #7c0a04 transparent transparent;
                }
            }
        }
    }

    .right,
    .left {
        flex: 1;
        position: relative;
    }

    .project {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 100%;

        .inner {
            flex: 1;
            margin: 1px 20px;
            display: flex;
            flex-direction: column;

            .title {
                color: #EEEEEE;
                padding: 10px;
                border-radius: 2px;
                background-color: #7c0a04;
                position: relative;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    top: 0;

                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-radius: 2px;
                }
            }

            .extra {
                flex: 1;
                padding: 10px;
                background-color: #d90b0017;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                font-size: 14px;
                color: #BBBBBB;

                .description {
                    margin-bottom: 5px;
                }

                ul {
                    margin-bottom: 5px;
                }

                a {
                    display: block;
                    font-size: 12px;

                    &:hover {
                        color: #AAAAAA;
                    }
                }
            }
        }
    }
}

#more {
    text-align: center;
    margin-top: 50px;
}

.project-message {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    max-width: 550px;
    width: 100%;
    color: #222222;
    position: relative;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    left: 0;
    right: 0;
    border-bottom-left-radius: 0;

    a {
        font-weight: bold;
        display: block;
        padding: 10px;
        margin: 5px;

        background-color: #DDDDDD;
        border-color: #EEEEEE;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent #ffffff transparent;
    }
}