.header {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: left;
    font-size: 36px;
    padding-top: 2px;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 36px;
    font-family: "Bebas Neue";
  }
}