.header {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 350px;
    margin: auto;

    h1 {
        text-shadow: #000000 0px 0px 2px 1px;
        text-align: left;
        font-size: 36px;
        padding: 36px;
    }
}