.gate {
    position: relative;

    .door {
        top: 0;
        bottom: 0;
        height: 100%;
        width: 50%;
        position: fixed;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }
}

.lock {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%) rotate(90deg);
    transition: transform 0.3s ease-in-out;

    &.open {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .seal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: #999999;
        width: 100%;
        height: 100%;
        --edgeWidth: 30%;
        --sealGap: 1px;

        &.left {
            clip-path: polygon(calc(100% - var(--edgeWidth)) 0,
                calc(calc(100% - var(--edgeWidth) / 2) - var(--sealGap)) calc(calc(var(--edgeWidth) / 2) - var(--sealGap)),
                calc(calc(var(--edgeWidth) / 2) - var(--sealGap)) calc(calc(100% - var(--edgeWidth) / 2) - var(--sealGap)),
                0 calc(100% - var(--edgeWidth)),
                0 var(--edgeWidth),
                var(--edgeWidth) 0);
        }

        &.right {
            clip-path: polygon(100% var(--edgeWidth),
                calc(calc(100% - var(--edgeWidth) / 2) + var(--sealGap)) calc(calc(var(--edgeWidth) / 2) + var(--sealGap)),
                calc(calc(var(--edgeWidth) / 2) + var(--sealGap)) calc(calc(100% - var(--edgeWidth) / 2) + var(--sealGap)),
                var(--edgeWidth) 100%,
                calc(100% - var(--edgeWidth)) 100%,
                100% calc(100% - var(--edgeWidth)));
        }


    }
}