@import 'variables';
@import 'functions';

html,
body {
    color: #DDDDDD;
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue';
    //font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.fill {
    width: 100%;
    height: 100%;
}

.page {
    background-color: $main-color;

    .content {
        position: relative;
    }
}