@import "../../variables";

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  margin: 0 auto;

  #circuit-board {
    position: absolute;
    margin: auto;
    display: block;
    bottom: 0px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  /*
  .wrapper {
    position: relative;
    float: right;
    right: 50%;

    
  }
  */
}